@model IEnumerable<RentCar.Models.Inspeccione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Defectos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpleadoInspeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Defectos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCombustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpleadoInspeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransaccion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransaccion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransaccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
