@model IEnumerable<RentCar.Models.Vehiculo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoVehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCombustible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoMotor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoPlaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoChasis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoVehiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCombustible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoMotor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoChasis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehiculo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehiculo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehiculo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
